    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="/img/mk_logo.png" alt="">
                    <h1>Monkey HTTP Server</h1>
                    <div class="row">
                      <div class="col-lg-8 col-lg-offset-2">
                        <div class="intro-text">
                          <p>
                            Monkey is a lightweight and powerful web server and development stack for Linux & OSX. It has been designed to be very scalable with low memory and CPU consumption, the perfect solution for embedded devices. Made for ARM, x86 and x64.
                          </p>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                  <a href="/releases/1.6/monkey-1.6.0.tar.gz" class="btn btn-lg btn-outline">
                    <i class="fa fa-download"></i> Download Monkey v1.6.0
                  </a>
                </div>
            </div>
        </div>
    </header>
